
@font-face {
  font-family: roundAqua;
  src: url("../fonts/aqua.ttf");
}

/**********************************/

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#nav-container {
  margin: 3em 2em;
  width: 50%;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

#title {
  font-family: roundAqua, monospace;
  font-size: 3.5em;
  margin: 0;
  text-align: center;
  vertical-align: top;
  padding: .5em 0;
}

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid;
  border-radius: 8px;
  margin: 1em;
  padding: 10px 16px 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: .4s;
  font-family: roundAqua, monospace;
  font-weight: bold;
}

.button:hover{
  cursor: pointer;
}

#start-button {border-color: rgb(38, 179, 4);}
#start-button:hover {
  background-color: rgb(38, 179, 4);
  color: rgb(255, 255, 255);
}

#stop-button{border-color: rgb(237, 176, 20);}
#stop-button:hover{
  background-color: rgb(237, 176, 20);
  color: rgb(255, 255, 255);
}

#reset-button{border-color: rgb(254, 29, 29);}
#reset-button:hover{
  background-color: rgb(254, 29, 29);
  color: rgb(255, 255, 255);
}

#random-button{border-color: rgb(32, 233, 252);}
#random-button:hover{
  background-color: rgb(32, 233, 252);
  color: rgb(255, 255, 255);
}

#exit-button{border-color: rgb(0, 0, 0);}
#exit-button:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#canvas-container {
  background-color: white;
  margin: 3em;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-self: center;
  justify-content: center;
}

#statusHTML {
  padding: 1.5em 0;
  text-align: center;
  font-weight: bold;
}

#statusValue {
  font-weight: bold;
}

.stopped {
  color: rgb(237, 176, 20);
}

.running {
  color: rgb(38, 179, 4);
}
